infrastructure/step-functions/weekly-refresh-state-machine.json
{
  "Comment": "SBIR Weekly Awards Refresh Workflow",
  "StartAt": "DownloadCSV",
  "States": {
    "DownloadCSV": {
      "Type": "Task",
      "Resource": "${lambda.download-csv.arn}",
      "Next": "CheckChanges",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ErrorHandler",
          "ResultPath": "$.error"
        }
      ]
    },
    "CheckChanges": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.body.changed",
          "BooleanEquals": true,
          "Next": "ProcessPipeline"
        },
        {
          "Variable": "$.force_refresh",
          "BooleanEquals": true,
          "Next": "ProcessPipeline"
        }
      ],
      "Default": "EndNoChanges"
    },
    "ProcessPipeline": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "ValidateDataset",
          "States": {
            "ValidateDataset": {
              "Type": "Task",
              "Resource": "${lambda.validate-dataset.arn}",
              "End": true,
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3
                }
              ]
            }
          }
        },
        {
          "StartAt": "ProfileInputs",
          "States": {
            "ProfileInputs": {
              "Type": "Task",
              "Resource": "${lambda.profile-inputs.arn}",
              "End": true,
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed"],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3
                }
              ]
            }
          }
        }
      ],
      "Next": "IngestionChecks"
    },
    "IngestionChecks": {
      "Type": "Task",
      "Resource": "${lambda.ingestion-checks.arn}",
      "Next": "EnrichmentChecks",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2
        }
      ]
    },
    "EnrichmentChecks": {
      "Type": "Task",
      "Resource": "${lambda.enrichment-checks.arn}",
      "Next": "ResetNeo4j",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3
        }
      ]
    },
    "ResetNeo4j": {
      "Type": "Task",
      "Resource": "${lambda.reset-neo4j.arn}",
      "Next": "LoadNeo4j",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2
        }
      ]
    },
    "LoadNeo4j": {
      "Type": "Task",
      "Resource": "${lambda.load-neo4j.arn}",
      "Next": "SmokeChecks",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2
        }
      ]
    },
    "SmokeChecks": {
      "Type": "Task",
      "Resource": "${lambda.smoke-checks.arn}",
      "End": true,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3
        }
      ]
    },
    "EndNoChanges": {
      "Type": "Succeed",
      "Comment": "No changes detected, skipping processing"
    },
    "ErrorHandler": {
      "Type": "Fail",
      "Error": "WorkflowError",
      "Cause": "An error occurred in the workflow"
    }
  }
}

